<h1>{{ artist.name }}</h1>

<div class="pull-right">
  Page {{ performance.page }} of {{ performance.page_count }}

  <ul class="pagination center-block">
    <li>
      <a href="#" ng-click="init()">
        <i class="fa fa-filter"></i>
        reset
      </a>
    </li>
    <li ng-repeat="(name, link) in performance._links">
      <a href="#" ng-click="loadPerformanceByUrl(link.href)">{{ name }}</a>
    </li>
  </ul>
</div>

<h2>Performances</h2>

<table class="table" ng-init="init()">
  <thead>
    <tr>
      <th>
        <edb-filter field="id" alias="row">Id</edb-filter>
      </th>

      <th>
        <edb-filter field="performanceDate" alias="row">Date</edb-filter>
      </th>

      <th>
        <edb-filter field="year" alias="row">Year</edb-filter>
      </th>

      <th>
        <edb-filter field="venue" alias="row">Venue</edb-filter>
      </th>

      <th>
        <edb-filter field="state" alias="row">State</edb-filter>
      </th>
      <th>Sources</th>
    </tr>
  </thead>

  <tbody>
    <tr data-href
      ng-repeat="performance in performance._embedded.performance"
      ng-click="redirectToPerformance(performance)">
      <th role="row">{{ performance.id }}</th>
      <td>{{ performance.performanceDate | date:'YYYY-MM-DD'}}</td>
      <td>{{ performance.year }}</td>
      <td>{{ performance.venue }}</td>
      <td>{{ performance.state }}</td>
      <td>{{ performance._computed.source.count }}</td>
    </tr>
  </tbody>
</table>