<h1>Artists</h1>

<pre>
Query for Artists
{{ query }}
</pre>

<table class="table table-striped table-hover" ng-init="init()">
  <thead>
    <tr>
      <th>
        Id
      </th>

      <th>
        Abbreviation
      </th>

      <th>
        Name
      </th>

    </tr>
  </thead>

  <tbody>
    <tr data-href ng-repeat="artist in data.artist" ng-click="load(artist)">
      <th role="row">{{ artist.id }}</th>
      <td>{{ artist.abbreviation }}</td>
      <td>{{ artist.name }}</td>
    </tr>
  </tbody>
</table>
