<div class="pull-right">
  Page {{ data.page }} of {{ data.page_count }}

  <ul class="pagination center-block">
    <li ng-repeat="(name, link) in data._links">
      <a href="#" ng-click="load(link.href)">{{ name }}</a>
    </li>
  </ul>
</div>

<h1>Artists</h1>

<table class="table" ng-init="init()">
  <thead>
    <tr>
      <th>
        <edb-filter field="id" alias="row">Id</edb-filter>
      </th>

      <th>
        <edb-filter field="abbreviation" alias="row">Abbreviation</edb-filter>
      </th>

      <th>
        <edb-filter field="name" alias="row">Name</edb-filter>
      </th>

      <th>Performances</th>
    </tr>
  </thead>

  <tbody>
    <tr data-href
      ng-click="redirectToArtist(artist)"
      ng-repeat="artist in data._embedded.artist">
      <th role="row">{{ artist.id }}</th>
      <td>{{ artist.abbreviation }}</td>
      <td>{{ artist.name }}</td>
      <td>{{ artist._computed.performance.count }}</td>
    </tr>
  </tbody>
</table>