<h2>Performance Search</h2>
<h3>Search: {{ search }}</h3>

<table class="table table-striped" ng-init="init()">
  <thead>
    <tr>
      <th>
        Id
      </th>

      <th>
        Name
      </th>

      <th>
        Date
      </th>

      <th>
        Year
      </th>

      <th>
        Venue
      </th>

      <th>
        State
      </th>
      <th>Sources</th>
    </tr>
  </thead>

  <tbody>
    <tr data-href
      ng-repeat="performance in data._embedded.performance"
      ng-click="redirectToPerformance(performance)">
      <th role="row">{{ performance.id }}</th>
      <td>{{ performance._embedded.artist.name }}</td>
      <td>{{ performance.performanceDate }}</td>
      <td>{{ performance.year }}</td>
      <td>{{ performance.venue }}</td>
      <td>{{ performance.state }}</td>
      <td>{{ performance._computed.source.count }}</td>
    </tr>
  </tbody>
</table>

<div ng-if="data && ! data._embedded.performance.count">
  No Results
</div>
