<div class="pull-right">
  Page {{ performance.page }} of {{ performance.page_count }}

  <ul class="pagination center-block">
    <li ng-repeat="(name, link) in performance._links">
      <a href="#" ng-click="load(link.href)">{{ name }}</a>
    </li>
  </ul>
</div>

<h2>Performance Search</h2>
<h3>Search: {{ search }}</h3>

<table class="table table-striped" ng-init="init()">
  <thead>
    <tr>
      <th>
        <edb-filter field="id" alias="row">Id</edb-filter>
      </th>

      <th>
        <edb-filter field="name" alias="artist">Name</edb-filter>
      </th>

      <th>
        <edb-filter field="performanceDate" alias="row">Date</edb-filter>
      </th>

      <th>
        <edb-filter field="year" alias="row">Year</edb-filter>
      </th>

      <th>
        <edb-filter field="venue" alias="row">Venue</edb-filter>
      </th>

      <th>
        <edb-filter field="state" alias="row">State</edb-filter>
      </th>
      <th>Sources</th>
    </tr>
  </thead>

  <tbody>
    <tr data-href
      ng-repeat="performance in data._embedded.performance"
      ng-click="redirectToPerformance(performance)">
      <th role="row">{{ performance.id }}</th>
      <td>{{ performance._embedded.artist.name }}</td>
      <td>{{ performance.performanceDate }}</td>
      <td>{{ performance.year }}</td>
      <td>{{ performance.venue }}</td>
      <td>{{ performance.state }}</td>
      <td>{{ performance._computed.source.count }}</td>
    </tr>
  </tbody>
</table>

<div ng-if="data && ! data._embedded.performance.count">
	No Results
</div>
