<span ng-init="showFilter = false" ng-show="! showFilter">{{ label }}</span>

<select
  ng-init="type = 'eq'"
  ng-show="showFilter"
  ng-model="type"
  >
    <option value="eq">=</option>
    <option value="neq">!=</option>
    <option value="lt">&lt;</option>
    <option value="lte">&lt;=</option>
    <option value="gt">&gt;</option>
    <option value="gte">&gt;=</option>
    <option value="like">like</option>
    <option value="isnull">null</option>
    <option value="isnotnull">! null</option>
</select>

<input
  ng-show="showFilter"
  placeholder="{{ label }}"
  type="text"
  size="10"
  ng-init="value = ''"
  ng-model="value"
>

<i class="btn btn-info btn-sm fa fa-filter"
  role="button"
  ng-click="$parent.filter({
    'type': type,
    'alias': alias,
    'field': field,
    'value': value
  })"
  ng-show="showFilter"></i>

<i class="btn btn-info btn-sm fa"
  role="button"
  ng-class="{ 'fa-sort-desc': direction == 'desc', 'fa-sort-asc': direction == 'asc', 'fa-sort': direction == '' }"
  ng-init="direction = ''"
  ng-click="
  direction = (direction == 'desc') ? 'asc': 'desc';
  $parent.orderBy({
    'alias': alias,
    'type': 'field',
    'field': field,
    'direction': direction
  });
  "
  ng-show="showFilter"></i>

<i class="fa fa-filter"
  ng-click="showFilter = ! showFilter"
  ng-show="! showFilter"></i>
